/* font-family: "CenturyGothicRegular"; */
@font-face {
    font-family: "CenturyGothicRegular";
    src: url("/catalog/view/theme/default/fonts/CenturyGothic.eot");
    src: url("/catalog/view/theme/default/fonts/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("/catalog/view/theme/default/fonts/CenturyGothicRegular.woff") format("woff"),
    url("/catalog/view/theme/default/fonts/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
html {
    overflow: visible;
}
    /*preloader-start*/
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100500;
    
}
#page-preloader .gear{
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius:10%;
    border:5px solid  #ff8b1a ;
    position: absolute;
    box-shadow:  0 10px 0 0 rgba(0, 0, 0, .1);
}

#page-preloader .gear:after{
    content:"";
    width: 100px;
    height: 100px;
    border-radius:100%;
    display:block;
    border:5px dashed #ff8b1a ;
    position:absolute;
    top:-24px;
    left: -24px;
    box-shadow: inset 0px 0 0 20px #ff8b1a; transform:scale(.5) rotate(0deg);
    animation: gear 6s linear infinite;
}

#page-preloader .gear:before{
    content:"";
    width: 58px; 
    height: 58px;
    border-radius:100%; 
     display:block; 
     border:5px dashed  #ff8b1a ;
     position:absolute;
     top:26px; 
     right: -14px; 
     box-shadow: inset 0px 0 0 10px #ff8b1a; 
     transform:scale(.5) rotate(0deg);
     animation:gear2 4s linear infinite;
}

    /*ajax-start*/
#ajaxProductContainer.loading {
    opacity: 0.6;
    transition: all 0.3s;
}
#ajaxProductContainer.loading .gear{
    width: 80px;
    height: 80px;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    border-radius:10%;
    border:5px solid  #ff8b1a ;
    position: absolute;
    box-shadow:  0 10px 0 0 rgba(0, 0, 0, .1);
    z-index: 50;
}

#ajaxProductContainer.loading .gear:after{
    content:"";
    width: 100px;
    height: 100px;
    border-radius:100%;
    display:block;
    border:5px dashed #ff8b1a ;
    position:absolute;
    top:-24px;
    left: -24px;
    box-shadow: inset 0px 0 0 20px #ff8b1a; transform:scale(.5) rotate(0deg);
    animation: gear 6s linear infinite;
}

#ajaxProductContainer.loading .gear:before{
    content:"";
    width: 58px; 
    height: 58px;
    border-radius:100%; 
     display:block; 
     border:5px dashed  #ff8b1a ;
     position:absolute;
     top:26px; 
     right: -14px; 
     box-shadow: inset 0px 0 0 10px #ff8b1a; 
     transform:scale(.5) rotate(0deg);
     animation:gear2 4s linear infinite;
}
    /*ajax-end*/


@keyframes gear {
   0%{transform:scale(.5) rotate(0deg);}
  100%{transform:scale(.5) rotate(360deg);}
}

@keyframes gear2 {
   0%{transform:scale(.5) rotate(0deg);}
  100%{transform:scale(.5)  rotate(-360deg);}
}
/*preloader-end*/
body {
	font-family: "CenturyGothicRegular";
}
a:hover, a:active, a:focus {
	outline: none;
	text-decoration: none;
}

	/*header*/

.scrolled .logo-no-scroll {
    display: none;
}
.logo-on-scroll {
    display: none;
    height: 100px;
    margin-top: 48px;
}
.scrolled .logo-on-scroll {
    display: block
}
.logo-on-scroll img {
    width: 74%;
    margin: 39px auto;
}
.fixed-head {
    position: fixed;
    height: 100px;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
}
.left-side.active {
    display:block;
    text-align: center;
    padding-top: 30px;
}
.left-side.active:hover .button-up {
    display: block;
    text-align: center;
    background: rgba(255, 139, 26, 0.2);
    transition: all 0.3s;
}
.left-side {
    display:none;
    position: fixed;
    left: 0px;
    top: 0;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
}
.left-side.active .button-up {
    position: absolute;
    height: 100%;
    width: 90px;
    padding-top: 90px;
}
.left-side span {
    color: #ff8b1a;
    transition: all 0.3s;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.left-side.active:hover span {
    color: #454242;
    transition: all 0.3s;
}
.main-row {
    /*min-height: 100px;*/
    position: relative;
    display: -webkit-box; 
	display: -webkit-flex; 
	display: -ms-flexbox; 
	display: flex; 
}
.left-row-head,.right-row-head,.content-row{
	display: inline-block;
	float: left;
}
.left-row-head,.right-row-head{

}
.content-row{
	padding: 0px;
	margin: 0px;
}
.row-cart {
    background-color: #ff8b1a;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 50px;
    display: -webkit-box; 
	display: -webkit-flex; 
	display: -ms-flexbox; 
	display: flex; 
	-webkit-box-align: center; 
	-webkit-align-items: center; 
	-ms-flex-align: center; 
	align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transition-property: right;
    -moz-transition-property: right;
    -o-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}
.header-black-background {
	background: #454242;
	width: 100%;
	height: 30px;
	position: relative;
}
.header-orange-background {
	background: #ff8b1a;
	width: 100%;
	height: 30px;
	position: relative;
}
.left-row-head .header-orange-background:before {
	content: '';
	position: absolute;
	display: block;
	border-top: 30px solid #ff8b1a; 
	border-right: 30px solid transparent;
	top: 0;
	right: -30px;
}
.pre-logo {
	width: 30px;
}
.pre-logo .header-black-background {
	width: 30px;
	height: 30px;
}
.pre-logo .header-black-background:before {
	content: '';
	position: absolute;
	display: block;
	border-top: 30px solid #454242; 
	border-right: 30px solid transparent;
	top: 0;
	right: -30px;
}
.after-logo {
    width: 75%;
    margin-left: auto;
}
.after-logo .header-black-background:before {
	content: '';
	position: absolute;
	display: block;
	border-top: 30px solid #454242; 
	border-left: 30px solid transparent;
	top: 0;
	left: -30px;
}
.after-logo .header-orange-background {
	width:calc(100% -30px);
	margin-left: 30px;
	height: 30px;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.after-logo .header-orange-background:before {
	content: '';
	position: absolute;
	display: block;
	border-top: 30px solid #ff8b1a; 
	border-left: 30px solid transparent;
	top: 0;
	left: -30px;
}
#logo {
    margin-top: 29px;
    height: 100px;
}
.call-back-wrap {
	position: absolute;
    width: 101%;
    right: 0;
    top: -25px;
    z-index: 1;
}
.row-cart:before {
	content: '';
	position: absolute;
	display: block;
	border-top: 50px solid #ff8b1a; 
	border-left: 50px solid transparent;
	top: 0;
	left: -50px;
}
.row-cart:after {
	content: '';
	position: absolute;
	display: block;
	border-top: 50px solid #ff8b1a; 
	border-right: 50px solid transparent;
	top: 0;
	right: -50px;
}
.cart-wl-head-wrap {
	width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;  
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
	align-items: center; 
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: space-around; 
    /*justify-content: center; */
}
#top-links {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
   	display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
	 align-items: center; 
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; 
}
#top-links ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; 
    margin: 0 auto;
    height: 30px;
}
#top-links ul:last-child {
	margin-right: 0;
}
#top-links ul li a {
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;  
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; 
    margin: 0;
    line-height: 1;
    position: relative;
    font-size: 16px;
}
#top-links ul:first-child li a:first-child {
	margin-left: 20px;
}
#top-links ul:first-child li a:before {
	content: '';
	position: absolute;
	display: block;
	width: 1px;
    height: 15px;
    top: 50%;
    right: -10px;
	transform: translateY(-50%);
	background: #ff8b1a;
}
#top-links ul:last-child li a {
    width: 200px;
    justify-content: center;
}
#cart-total {
	display: inline-block;
    margin-left: 10px;
}
#top-links ul:first-child li:last-child a:before {
	display:none;
}
.head-left-menu {
	width: 85%;
}
#top-links ul .material-icons {
	font-size: 16px
}
.call-back-header {
	color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; 
    font-size: 20px;
    text-align: right;
    position: relative;
}
.call-back-header:hover {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}
.call-back-header:before {
    content:'';
    position: absolute;
    display: block;
    height: 2px;
    width: 0;
    margin: auto;
    bottom: -1px;
    transition: width .5s ease, background-color .5s ease;
}
.call-back-header:hover:before {
    width: 100%;
    background: #454242;
}

.heade-phones:hover {
    color: #fff;
    text-decoration: underline;
}
.logo {
    position: absolute;
    width: 315px;
    left: 9px;
    top: -58px;
}
.scrolled .logo:before {
    content:'';
    position: absolute;
    display: block;
    height: 30px;
    width: 95%;
    top: 58px;
    left: 0;
    background: #454242;
}
.scrolled .logo:after {
    content:'';
    position: absolute;
    display: block;
    height: 30px;
    width: 105%;
    top: 88px;
    left: -10px;
    background: #ff8b1a;
}
.scrolled #logo {
   position: relative;
   z-index: 1;
}
.heade-phones {
	color: #fff;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 35px;
    font-size: 20px;
    position:relative;
    transition: all 0.3s;
}
.heade-phones:hover {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}
.heade-phones:before {
    content:'';
    position: absolute;
    display: block;
    height: 2px;
    width: 0;
    margin: auto;
    bottom: -1px;
    transition: width .5s ease, background-color .5s ease;
}
.heade-phones:hover:before {
    width: 100%;
    background: #454242;
}
.cart-head-btn, .wl-head-wrap a {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
}
.cart-head-btn i, .wl-head-wrap a i {
	color: #000;
}
.cart-head-btn i {
	font-size: 40px
}
.scrolled #search{
    opacity: 0.5;
}
#search:hover{
    opacity: 1;
}
#search {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    width: 608px;
    position: relative;
    margin-left: 30px;
    margin-top: 5px;
    z-index: 101;
}
#search input {
	width: 100%;
	padding: 8px 0 8px 70px;
	height: 40px;
    font-size: 20px;
    border: 2px solid #999;
}

#search i {
	position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background: #e4e4e4;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
	-webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 35px;
    color: #999;
}
#search i:before {
	content: '';
	position: absolute;
	display: block;
	border-bottom: 36px solid #e4e4e4; 
	border-right: 36px solid transparent;
	top: 0;
	right: -36px;
}
#search .search-text:after {
    content: '';
    position: absolute;
    display: block;
    border-bottom: 40px solid #454242;
    border-right: 40px solid transparent;
    top: 0;
    right: -40px;
}
#search .search-text {
	position: absolute;
	right: 0px;
    height: 40px;
	top: 50%;
	transform: translateY(-50%);
	background: #454242;
	font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 10px;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
	-webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
#search .search-text:before {
	content: '';
	position: absolute;
	display: block;
	border-top: 40px solid #454242; 
	border-left: 40px solid transparent;
	top: 0;
	left: -40px;
}
.nothing-to-find {
    width: 80%;
    margin: 0 auto;
    color: #000;
    text-align: center;
}
.phones-holder {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    width: 69%;
}

	/*header end*/
	
	/*manu-start*/
#menu .nav>li {
    text-align: center;
    margin: 0 auto;
    position: static;
}
#menu .nav li a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    height: 70px;
    color: #fff;
    padding: 0;
    transition: all 0.3s;
    border-right: 1px solid #ff8b1a;
}
#menu .nav>li>a:focus, #menu .nav>li>a:hover, #menu .nav>li>a:active,
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover,
#menu .dropdown-inner li a:hover, #menu .dropdown-inner li a:focus, #menu .dropdown-inner li a:active {
    text-decoration: none;
    background-color: #ff8b1a;
    transition: all 0.3s;
}
.dropdown-menu {
	padding: 0;
}
.navbar {
    margin-top: 80px;
    background: #454242;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}
.dropdown-menu {
    background-color: #454242;
    border: 2px solid #ff8b1a;
    border-radius: 0;
}
.navbar-nav>li>.dropdown-menu {
    width: 100%;
}
.navbar-nav>li:hover>.dropdown-menu {
    display: block;
    margin: 0!important;
    height: 285px;
    
}
.navbar-nav>li>.dropdown-menu .dropdown-inner {
     display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
   -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; 
   -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: relative;
    height: 100%;
    
}

.navbar-nav>li>.dropdown-menu .dropdown-inner ul {
    width: 75%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 285px;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column;
}
.navbar-nav>li>.dropdown-menu .dropdown-inner ul li {
    width: 33.3%;
}
.category-menu-img-box {
    position: absolute;
    background: url('https://electro-bbengamin.c9users.io/image/cache/catalog/product-300x300.jpg') no-repeat center;
    background-size: cover;
    right: 0;
    bottom: 0;
    width: 25%;
    height: 281px;
}
.popular-from {
    font-size: 14px;
}
#menu .dropdown-inner li a {
	border-right: none;
    border-bottom: 1px solid #ff8b1a;
    border-right: 1px solid #ff8b1a;
}
#menu .navbar-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; 
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    position: relative;
}
#menu .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: none;
    box-shadow: none;
}
#menu .nav > li:last-child > a {
	padding: 0 40px;
	border-right: 1px solid transparent;
}
#menu .nav > li:nth-child(3) > a {
	padding: 0 30px;
}
#menu .nav li .dropdown-menu > li > a {
	color:  #ff8b1a
}
	/*manu-end*/
	
	/*footer-start*/
footer {
	background: #666;
	padding-top: 20px;
	position: relative;
    z-index: 11;
    margin-top: 120px;
    padding-bottom: 20px;
}
footer h5 {
	color: #ffba1a;
    font-size: 20px;
    font-weight: bold;
}
footer a {
	color: #fff;
	transition: all 0.3s;
}
.contact-footer-box a {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.contact-footer-box i {
	color: #ffba1a;
	margin-right: 5px
}
footer a:hover, footer a:focus, footer a:active,
footer a:hover i, footer a:focus i, footer a:active i {
	color: #ff8b1a;
	transition: all 0.3s;
}
	/*footer-end*/
/*content-start*/
#content {
	min-height:600px
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #454242;
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 16px
}
.breadcrumb {
    padding: 10px 15px 10px 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 0;
}
.breadcrumb li a {
	color: #454242;
	transition: all 0.3s;
}
.breadcrumb li a:hover, .breadcrumb li a:focus, .breadcrumb li a:active {
	color: #ff8b1a;
	transition: all 0.3s;
}
.category-title h2 {
	margin: 0;
    display: inline-block;
    padding: 6px 15px;
    text-transform: uppercase;
    background: #ff8b1a;
    color: #fff;
    position: relative;
}
.category-title h2:before {
	content: '';
    position: absolute;
    display: block;
    border-top: 45px solid #ff8b1a;
    border-right: 45px solid transparent;
    top: 0;
    right: -45px;
}
.category-title-smaller.category-title h2 {
    font-size: 22px;
    height: 45px;
    line-height: 34px;
}
.category-title {
	width: 100%;
	position: relative;
	background: #454242;
	margin-bottom: 15px;
}
.common-home .category-title {
    margin-top: 5px;
    margin-bottom: 25px;
}
.common-home .category-title.title-category-upper {
    margin-top: 25px;
}
.category-title h2 a {
    text-transform: uppercase;
    background: #ff8b1a;
    color: #fff;
}
/*.category-title:before {
	content: '';
    position: absolute;
    display: block;
    border-top: 45px solid #454242;
    border-right: 45px solid transparent;
    top: 0;
    right: -45px;
}*/
/*content-end*/

/*category start*/

.product-layout {
    position: relative;
    margin-bottom: 30px;
    height: 405px;
}
/*.product-layout:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 10;
}*/
.product-thumb {
    background: #fff;
    border: 2px solid #ff8b1a;
    
    padding: 0 15px 15px 15px;
    position: absolute;
    width: 90%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.description-box {
    margin-top: 10px;
	display: none;
}
.description-box p {
	margin-bottom: 0;
}
.product-layout:hover .description-box {
	display: block;
}
.product-layout:hover .product-thumb {
	z-index: 1;
	width: 320px;
}
.button-group-category {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.button-group-category .cart-add-category, .button-group-category .wishlist-add-category, .button-group-category .compare-add-category  {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
 	background: #fdb56d;
 	cursor: pointer;
 	position: relative;
 	transition: all 0.3s;
 	padding: 8px 0;
 	border: 1px solid #fdb56d;
 	color: #fff
}
.button-group-category div:hover {
	background: #fff;
	color: #fdb56d;
	transition: all 0.3s;
} 
.cart-add-category {
	width: 60%;
}
.wishlist-add-category, .compare-add-category {
	width: 20%;
}
.price {
	position: relative;
}
.price-old {
	position: absolute;
	top: -25px;
	left: 45px;
	color: #ffd2b5;
	font-size: 24px;
}
.price-old:before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	background: #ff1e1c;
	transform: translate(-50%, -50%) rotate(-12deg);
	top: 50%;
	left: 50%;
}
.current-price {
	color: #ff8d1b;
}
.curent-price-value {
	font-size: 24px;
}
.caption {
	padding-top: 25px
}
.product-thumb h4 {
	margin-bottom: 0;
	height: 40px;
	width: 228px;
}
.product-thumb h4 a {
	color: #ff8b1a;
    font-weight: bold;
}
/*category end*/

/*modal-start*/
.modal-dialog {
	width: 30%;
}
.modal-content .close {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #ff8b1a;
    z-index: 20;
}
.modal-header {
    min-height: 16.43px;
    padding: 15px 0;
    border-bottom: 1px solid #ff8b1a;
    text-align: center;
}
.input-field {
	width: 90%;
	margin: 15px auto;
	position: relative;
}
.input-field input {
	width: 100%;
    padding: 8px 15px;
    height: 40px;
    font-size: 20px;
    border: 2px solid #999;
}
.input-field button {
	width: 100%;
	background: #fff;
	color: #ff8b1a;
	text-transform: uppercase;
	text-align: center;
	padding: 8px 15px;
    height: 48px;
    font-size: 20px;
   	transition: all 0.3s;
    border: 2px solid #ff8b1a;
    position: relative;
}
.input-field button:before {
	content: '';
    position: absolute;
    display: block;
    border-top: 48px solid #454242;
    border-right: 48px solid transparent;
    top: -2px;
    left: -2px;
}
.input-field button:hover, .input-field button:active, .input-field button:focus {
	background: #ff8b1a;
	color: #fff;
	transition: all 0.3s;
	outline: none;
}
.modal-content {
	border-radius: 0;
}
.modal-content:before {
	content: '';
    position: absolute;
    display: block;
    border-top: 48px solid #ff8b1a;
    border-right: 48px solid transparent;
    top: 0;
    left: 0;
}
.modal-thanks {
	text-align: center;
	margin: 25px 0;
	display: none;
}
.transparent-overley{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0,.4);
}
.search-box {
    position: relative;
}
.form-control:focus, input[type="text"]:focus {
    border-color: #ff8b1a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 139, 26, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 139, 26, 0.6);
}
.ajaxResult{
    z-index: 100;
    position: absolute;
    width: 445px;
    left: 100px;
    background: rgba(255,255,255,.7);
    padding: 22px 0;
}
.ajaxResult .product-layout {
    height: auto;
    margin-bottom: 10px;
}
.ajaxResult .product-thumb {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; 
    padding-bottom: 0;
    width: 90%;
    margin: auto;
}
.ajaxResult .caption {
    padding-top: 0;
}
.ajaxResult .caption p {
    font-size: 12px;
    line-height: 1.1;
}
.ajaxResult .caption h4 {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.1;
    height: 36px;
}
.ajaxResult .price {
    margin-top: 0;
    margin-bottom: 0;
}
.ajaxResult .image {
    width: 80%;
    margin-right: 15px;
}
.ajaxResult .price-old {
    left: 0;
    top: 0;
    position: relative;
    font-size: 14px;
}
.ajaxResult .price-new {
    color: #fdb56d;
    font-size: 18px;
}
.live-srch-down-buttons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 22px;
    margin-top: 12px;
}
.count__info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.watch__all {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: #fdb56d;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    padding: 8px 15px;
    border: 1px solid #fdb56d;
    color: #fff;
    position: relative;
}

.watch__all:hover {
    background: #fff;
    color: #fdb56d;
    transition: all 0.3s;
}
/*modal-end*/
/*product-start*/
.product-title {
	margin-top: 0;
}
.owl-wrapper-outer {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
#slideshow-thumbs .thumbnail {
	margin-bottom: 0;
    width: 90%;
    margin: 0 auto;
}
.owl-carousel .owl-buttons .owl-next {
    right: -25px;
}
.owl-carousel .owl-buttons .owl-prev {
    left: -25px;
}
.owl-carousel .owl-buttons div {
    opacity: 1;
    color: rgba(0,0,0,0.8);
    text-shadow: none;
    transition: all .3s ease;
    transform: translateY(-50%);
    height: 48px;
}
.owl-carousel .owl-buttons div i {
	font-size: 48px;
	margin: 0;
	color: #fdb56d;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #fdb56d;
}
#product .button-group-category {
	-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; 
}
#product .button-group-category div {
    width: 48%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
#product .button-group-category .cart-add-category {
    width: 60%;
}
#product .button-group-category .wishlist-add-category, #product .button-group-category .compare-add-category {
    width: 20%;
}
#product .button-group-category .right-product-btns div {
	width:100%;
}
.one-click-buy {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: #eee;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    padding: 9px 0;
    border: 2px solid #eee;
    color: #666;
    width: 100%;
}
.one-click-buy:hover, .one-click-buy:focus, .one-click-buy:active {
	    background: #fff;
    color: #fdb56d;
    transition: all 0.3s;
}
.product-up-atributes li {
    font-size: 16px;
}
.product-up-atributes li .prod-up-text-right {
    color:  #ff8b1a;
}
.saved-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
     -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.old-price {
    color: #ffd2b5;
    font-size: 24px;
}
.saved-inner-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
     -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.saved-value {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    padding: 8px;
    margin-left: 25px;
    background: #ff8b1a;
    border-radius: 15px;
    color: #fff
}
.saved-text {
    color: #48d69f;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.top-attributes .table {
    margin-bottom: 0;
}
#look-all-attributes {
    width: 100%;
    text-align: center;
    display: block;
    margin: 5px auto 20px;
    cursor: pointer;
    font-size: 16px;
    color: #a2a1a1;
    text-decoration: underline;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 0 0 0 0;
    text-transform: uppercase;
    color: #ff8b1a;
    border-right: 1px solid #eee;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #ff8b1a;
    cursor: default;
    background-color: #fff;
    font-weight: 700;
    border: none;
    border-right: 1px solid #eee;
}
.tab-content {
    padding: 15px;
    border: 1px solid #eee;
    border-top: none;
}
#tab-description p, #tab-specification .table {
    margin-bottom: 0;
}
.nav-tabs {
    border: 1px solid #eee;
}
.table-bordered {
    border: 1px solid #eee;
}
.review-button-add {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: #fdb56d;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    padding: 8px 15px;
    border: 1px solid #fdb56d;
    color: #fff;
}
.review-button-add:hover, .review-button-add:active, .review-button-add:focus {
    background: #fff;
    color: #fdb56d;
    transition: all 0.3s;
}
.related-title {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0;
    background: #fdb56d;
    color: #fff;
    text-transform: uppercase;
    margin-top: 55px;
}
/*product-end*/

/*cart start*/
.img-cart-col img {
    width: 60%;
    margin: 0 auto;
}
#marin-cart-table td {
    vertical-align: middle;
}
.quanty-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.quantity-input, .minus, .plus {
    width: 40px;
    height: 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: #fff;
}
.minus, .plus {
    cursor: pointer;
    border: 1px solid transparent;
}
.minus:hover, .plus:hover {
    border: 1px solid #fdb56d;
}
.quantity-input {
    border: 1px solid #ccc;
    text-align: center;
}
.name-cart-col a {
    color: #ff8b1a;
    font-weight: bold;
    font-size: 18px;
}
.stok-in .saved-text {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
tbody .price-cart-col, tbody .total-cart-col {
    color: #ff8b1a;
    font-size: 16px;
}
.cart-main-remove {
    color: #ccc;
    cursor: pointer;
}
.cart-main-remove:hover {
    color: #fc5858;
}
#total-cart-table {
    width: 45%;
    float: right;
}
.chekout-box-item {
    border: 1px solid #eee;
    padding: 0 15px 15px 15px;
}
.checkout-title-text {
    margin: 0;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.chekout-box-item label {
    font-weight: 400;
}
.chekout-box-item .form-control {
    border-radius: 0;
}
#button-order {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: #fdb56d;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    padding: 8px 15px;
    border: 1px solid #fdb56d;
    color: #fff;
    margin: 0 auto;
    border-radius: 0;
    width: 100%;
}
#button-order:hover, #button-order:active, #button-order:focus {
    background: #fff;
    color: #fdb56d;
    transition: all 0.3s;
}
.radio.new-input-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.new-input-box input {
    display: none;
}
.new-input-box label {
    position: relative;
    font-size: 16px;
    padding-left: 30px;
    font-weight: 400;
}
.new-input-box label:before {
    content:'';
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    border: 1px solid #ff8b1a;
    border-radius: 3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.new-input-box input:checked ~ label:after {
    content:'';
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: url('/catalog/view/theme/default/image/check-icon.svg') no-repeat center;
    background-size: contain;
}
/*cart-end*/

/*home-page-categiries start*/
.category-item {
    margin-bottom: 20px;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}


.cat-name {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    padding: 10px 0;
    background: rgba(0,0,0,.6);
    height: 70px;
}
.cat-name span {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    text-align: center;
}
.category-item:hover .cat-name, .category-item.active .cat-name {
    transition: all 0.3s;
    background: #ff8b1a;
}
.more {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-end;
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.more .more-link {
    color: #fff;
    height: 40px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding: 8px 30px 8px 30px;
    transition: all 0.3s;
}
.more .more-link:hover, .more .more-link:active, .more .more-link:focus {
    color: #ff8b1a;
    transition: all 0.3s;
}
/*
.more .more-link:before {
    content:'';
    position: absolute;
    display: block;
    width: 60px;
	height: 40px;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	background: #454242;
	right: -40px;
}*/

/*filter-start*/
.mfilter-price-inputs{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.mfilter-heading {
    cursor: pointer;
    background: #fff;
    border-top: 1px solid #eee;
    font-size: 16px;
    font-weight: 400;
}
.mfilter-opts-container {
    padding: 5px 0;
    border-top: none;
}
.mfilter-slider-slider .ui-slider-handle, #mfilter-price-slider .ui-slider-handle {
    width: 21px;
    height: 21px;
    border: none;
    background: #ff8b1a;
   
    outline-style: none;
    cursor: pointer;
    transition: none;
    border-radius: 50%;
}
.mfilter-price-slider {
    margin: 20px auto;
    width: 92%;
}
.ui-slider-horizontal {
    background: #ccc;
    height: 2px;
    width: 100%;
}
.ui-slider-horizontal .ui-slider-range {
     background: #ff8b1a;
     height: 3px;
     top: -1px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -10px;
    transition: all 0.3s;
}


.mfilter-tb-as-td {
    border-top: none;
    padding: 0;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    
}
.mfilter-col-input {
    display: none;
}
.mfilter-tb-as-td {
    position: relative;
    font-size: 16px;
    padding-left: 30px;
    font-weight: 400;
}
.mfilter-tb-as-td:before {
    content:'';
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    border: 1px solid #ff8b1a;
    border-radius: 3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.mfilter-input-active .mfilter-tb-as-td:after {
    content:'';
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: url('/catalog/view/theme/default/image/check-icon.svg') no-repeat center;
    background-size: contain;
}
/*filter-end*/

/*login start*/
.login-page-btns {
    color: #fff;
    height: 40px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    background: #ff8b1a;
    padding: 8px 15px;
    transition: all 0.3s;
    margin-right: 60px;
    border: 1px solid #ff8b1a;
    cursor: pointer;
    margin: 0 auto;
}
.login-page-btns:hover, .login-page-btns:active, .login-page-btns:focus {
    color: #ff8b1a;
    background: #fff;
    transition: all 0.3s;
}
.login-page-btns span {
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.login-page-btns span i {
    margin: 0 5px;
}
.form-control {
    border-radius: 0;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ff8b1a;
    border-radius: 0;
    background: #fff;
    color: #ff8b1a;
}
.alert-danger {
    color: #fc5858;
}
.alert-success {
    color: #48d69f;
}
.alert-success a {
    color: #48d69f;
    font-weight: 700
}
.text-danger {
    color: #fc5858;
}
.has-error .form-control {
    border-color: #fc5858;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #fc5858;
}
.form-horizontal .control-label {
    text-align: left;
}
.newsletter-box {
    margin-top: 30px;
}
.news-item label:before {
    
}
.news-item label {
    position: relative;
    font-size: 16px;
    padding-left: 30px;
    font-weight: 400;
    padding-top: 0;
    cursor: pointer;
}
.news-item label:before {
    content:'';
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    border: 1px solid #ff8b1a;
    border-radius: 3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.news-item input[type='radio']:checked ~ label:after {
    content:'';
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: url('/catalog/view/theme/default/image/check-icon.svg') no-repeat center;
    background-size: contain;
}
.news-item input[type='checkbox']:checked ~ label:after {
    content:'';
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: url('/catalog/view/theme/default/image/check-icon.svg') no-repeat center;
    background-size: contain;
}
.login-page-btns.register-page-btns {
    margin-top: 30px;
}
.buttons .register-page-btns {
    margin-top: 0;
}
.form-group.required {
    position: relative
}
.form-group.required:before {
    content: '*';
    position: absolute;
    display: block;
    color: #000;
    top: 5px;
    left: 8px;
}
#checkout-form .form-group.required:before {
    top: -2px;
    left: -8px;
}
.account-edit.form-group.required:before {
    display: none;
}
#column-right .list-group .list-group-item:first-child {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ff8b1a;
    border: 1px solid #eee;
    color: #fff;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.new-butons-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 15px;
    color: #fff;
    margin: 0 5px;
    transition: all 0.3s;
    border: 1px solid transparent;
    cursor: pointer;
}
.new-butons-item i {
    margin: 0 5px
}
.new-butons-item:hover, .new-butons-item:focus, .new-butons-item:active {
    background: #fff;
    color: #ff8b1a;
    border-color: #ff8b1a;
    transition: all 0.3s;
}
.edit-info-btn {
    background: #48b3d6;
}
.delete-info-btn {
    background: #fc5858;
}
.buttons-holder {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
/*login end*/

    /*search*/
.login-page-btns.search-page-btn {
    width: 250px;
    margin-bottom: 15px;
}
#input-search {
    height: 40px;
}
    /*search-end*/

    /*marks-start*/
.product-thumb .image {
    position: relative;
}
.marks-box {
    position: absolute;
    top: 0;
    left: -25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; 
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.marks {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 4px 0;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    width: 82px;
    position: relative;
}
.hit-mark {
    background: #fc5858;
}
.special-mark {
    background: #48d69f;
}
.latest-mark {
    background: #5ec0fd;
}
.hit-mark:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
	height: 0;
	border-top: 5px solid #fc5858; 
	border-left: 8px solid transparent;
	left: 0;
    bottom: -5px;
    opacity: 0.5;
}
.special-mark:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
	height: 0;
	border-top: 5px solid #48d69f; 
	border-left: 8px solid transparent;
	left: 0;
    bottom: -5px;
    opacity: 0.5;
}
.latest-mark:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
	height: 0;
	border-top: 5px solid #5ec0fd; 
	border-left: 8px solid transparent;
	left: 0;
    bottom: -5px;
    opacity: 0.5;
}
    /*marks-end*/
.bought {
    background: #ff8b1a;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.bought a {
    color: #454242;
    font-weight: 700;
    text-decoration: underline;
}
.bought a:hover {
    color: #666666;
}

    /*sort-start*/
.sort-items-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 15px;
}
.sort-items-box a {
    color: #ff8b1a;
    position: relative;
    padding-right: 20px;
    margin-right: 15px;
}
.sort-items-box a.name:before {
    content: '\f15d';
    position: absolute;
    display: block;
    font-family: 'FontAwesome';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.sort-items-box a.name.desc:before {
     content: '\f15e';
}
.sort-items-box a.price:before {
    content: '\f160';
    position: absolute;
    display: block;
    font-family: 'FontAwesome';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.sort-items-box a.price.desc:before {
     content: '\f161';
}
    /*sort-end*/
    
    /*view_now start*/
.view_now {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 25px;
    white-space: pre-wrap;
}
.view_now span {
    font-weight: 600;
    color: #ff8b1a;
}
    /*view_now end*/
    
    /*related-products start slider*/
#related-products .product-thumb {
    left: 50%;
    transform: translateX(-50%);
}
#viewed-products .product-thumb {
    left: 50%;
    transform: translateX(-50%);
}
#related-products .owl-wrapper-outer, #viewed-products .owl-wrapper-outer {
    height: 500px;
}
    /*related-products end slider*/
    
    /*category-hover-image*/
.category-additional-images {
    display: none;
}
.product-layout:hover .category-additional-images {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    position: relative;
    width: 90px;
    background: #fff;
    border-right: none;
    margin-right: -15px;
    top: 0;
    right: 0;
    z-index: 13;
}
.additional-categoey-img-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px;
}
.additional-categoey-img-box li a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 2px;
    border: 1px solid #eee;
    margin: 3px auto;
    transition: all 0.3s;
}
.additional-categoey-img-box li a:hover {
    border-color: #ff8b1a;
    transition: all 0.3s;
}
.images-box-category {
            -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; 
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}
#related-products .product-layout:hover .product-thumb, #viewed-products .product-layout:hover .product-thumb {
	z-index: 1;
	width: 90%;
}
    /*related-buy-start*/
#modal-after .modal-dialog {
  width: 900px;
}
#modal-after .modal-body {
  padding: 0;
  padding-top: 45px;
}
.abou-your-product-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0 45px;
}
#slideshow-mod-after {
  padding: 25px 45px;
  background: #f9f9f9;
  border-top: 1px solid #efefef;

}
#slideshow-mod-after .abou-your-product-box {
  padding: 15px 3px;
  /* height: 140px; */
  background: #fff;
  border: 3px solid #efefef;
  align-items: center;

  margin: 0 auto;
}
#slideshow-mod-after .abou-your-product-box:hover {
  border-color: #fdb56d;
}
#slideshow-mod-after .text-products-box {
  width: 68%;
}
#slideshow-mod-after .product-name-with-box {
  height: 45px;
  overflow: hidden;
}
#slideshow-mod-after .product-name-with-box a {
  text-decoration: underline;
}
.modal-related-products h4 {
  text-align: center;
  font-size: 20px;
  color: #333333;
  margin-bottom: 20px;
  font-weight: 400;
}
.modal-main-messege-text {
  font-size: 24px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  color: #333333;
  margin-bottom: 15px;
}
.product-name-with-box {
  margin-bottom: 10px;
}
.modal-main-messege-text .material-icons {
  color: #fdb56d;
  margin-right: 5px;
}
.with-this-modal-price-box {
  margin-bottom: 35px;
}
.img-products-box {
  width: 30%;
}
.text-products-box {
  width: 66%;
}
.product-name-with-box a {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
}
.with-this-modal-price-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}
.with-this-modal-price-box .price-new {
  font-size: 16px;
  color: #333333;
  
  font-weight: bold;
}
.with-this-modal-price-box .price-old {
    font-size: 11px;
    color: #fc5858;
    margin-left: 0;
    width: 70px;
    text-align: left;
    position: relative;
    left: 30px;
    top: 0;
}
.with-this-modal-price-box .price-old:before {
    left: 37%;
}
.make-it-order {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  background: #fdb56d;
  padding: 9px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 250px;
  font-weight: 600;
  transition: all 0.5s;
  border: 3px solid #fdb56d;
}
.make-it-order:visited {
  color: #fff;
}
.make-it-order:hover, .make-it-order:focus, .make-it-order:active {
  background-color: #FFF;
  border-color: #fdb56d;
  color: #fdb56d;
  transition: all 0.5s;
}
.make-it-shopping {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background: #fff;
  border: 3px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 250px;
  color: #333333;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 0;
  font-weight: 600;
  transition: all 0.5s;
}
.make-it-shopping:hover, .make-it-shopping:focus, .make-it-shopping:active {
  border-color: #fdb56d;
  color: #fdb56d;
  transition: all 0.5s;
}
.with-this-modal-btns-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 50px;
}

#slideshow-mod-after .with-this-modal-price-box .price-old {
    font-size: 11px;
    color: #fc5858;
    margin-left: 0;
    width: 70px;
    text-align: left;
    left: -23px;
    top: 0;
}
#slideshow-mod-after .with-this-modal-price-box .price-new {
  font-size: 13px;
  color: #333333;
  width: 100%;
  text-align: left;
  font-weight: bold;
}
#slideshow-mod-after .with-this-modal-price-box {
  font-size: 14px;
  color: #333333;
  width: 100%;
  text-align: left;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  margin-bottom: 0;
  font-weight: bold;
}
#slideshow-mod-after.owl-carousel .owl-buttons .owl-prev {
  left: 0;
  top: 50%;
  opacity: 1;
  width: 35px;
  height: 35px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background: #fff;
  border: 3px solid #efefef;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
}
#slideshow-mod-after.owl-carousel .owl-buttons .owl-next {
  right: 0;
  top: 50%;
  opacity: 1;
  width: 35px;
  height: 35px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background: #fff;
  border: 3px solid #efefef;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}
#slideshow-mod-after.owl-carousel .owl-buttons .owl-next:hover, #slideshow-mod-after.owl-carousel .owl-buttons .owl-prev:hover {
  color: #48b3d6;
}
#slideshow-mod-after.owl-carousel {
  margin: 0 auto;
}
#slideshow-mod-after.owl-carousel .owl-buttons div i {
  font-size: 28px;
}
#modal-after .marks-box {
    left: -8px;
}
#modal-after .modal-content:before {
    display: none;
}
#live-search-result .product-layout:hover .product-thumb {
    z-index: 1;
    width: 90%;
}
#viewed-products .product-layout:hover .category-additional-images {
    display: none!important;
}
#related-products .product-layout:hover .category-additional-images {
    display: none!important;
}
.my-orange {
    color: #fc5858;
}